body{
    background-color: rgba(0, 0, 0, 0.5);
}
h1{
	font-family: 'Shadows Into Light Two', cursive;
    font-size: 220%;
}
ul{
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
	position: absolute; /*changed from fixed */
	left: 25%;
	width: 50%;
	border: 2px solid #89CFF0;
	background-color: rgba(255, 255, 255, 0.45);
	z-index: 1;
}
ul:hover{
    border-color: black;
}
.subtext{
    font-size: 120%;
    font-family: 'Shadows Into Light Two', cursive; 
    padding: 0;
    margin: 0;   
}
#open{
	float: right;
}
#map{
    width: 100%;
    height: 900px;
    background: grey; 
}

/*SIDEBAR stuff!*/
.sidebar{
	height: 100%; /*display full height vertically*/
	width: 0; /*width will change with javascript*/
	position: fixed; /*collapsed sidebar is not dynamic*/
	top: 0;
	left: 0;
	z-index: 1; /*collapsed sidebar is one level higher than mainpage*/
	background-color: rgba(255, 255, 255, 1.0); /*transparent white while NOT hovering*/
	overflow-x: hidden; /*disables horizontal scroll*/
	padding-top: 50%;
	transition: 0.5s; /*the seconds it takes to slide out*/
	padding-top: 10px;	
}
/*all the a href tags */
.sidebar a{
	padding: 10px 10px 10px 32px;
	text-decoration: none;
	font-size: 25px;	
	font-family: 'Shadows Into Light Two', cursive; 
	color: rgb(0, 0, 0); /*change font color to BLACK while NOT hovering*/
	display: block;
	transition: 0.3s;
}
/*change the color of the sidebar when hovering*/
.sidebar a:hover{
	color: rgba(255, 255, 255, 0.9);
	background-color: rgb(0, 0, 0); /*change background color of each page link (a href)*/
}
/*close button at top right of collapsed sidebar*/
.sidbar .closebutton{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
/* The button used to open the sidebar */
.openbutton {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}
.openbutton:hover{
	background-color: #455;
}
.buttonDiv{
	float: right;
}
/*push content to right when opening side navigation*/
#main{
	transition: margin-left .5s;
	padding: 20px;
}
/*on smaller screens where height is less than 450px; smaller effect*/
@media screen and (max-height: 450px){
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

.container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height:100%;
    padding: 0;

}
